#dropBtn {
    background-color: #316e99;
    color: black;
    padding: 6px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

#searchForm {
    position: relative;
    text-align: center;
}

#dropBtn option {
    background-color: white;
    width: auto;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


    #dropBtn option:hover, #dropBtn:hover, #submitBtn:hover {
        background-color: #ddd;
    }


#searchBox {
    margin-left: 1px;
    max-width: none;
    width: 28vw;
    height: 28px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #316e99;
}

#submitBtn {
    background-color: #316e99;
    color: white;
    border-radius: 5px;
    border: none;
    height: 28px;
    width: 28px;
}
